<header>
  <div class="container row justify-content-space-between align-items-center pos-relative">
    <ul class="list row-no-wrap anchors">
      <li><a href="#">Меню</a></li>
      <li><a href="#">Особливі замовлення</a></li>
    </ul>
    <svg class="logo">
      <use href="/assets/ico/logo.svg#logo"></use>
    </svg>
    <ul class="list row-no-wrap bucket-create">
      <li><button class="button-default open-bucket">Замовити</button></li>
      <li><button class="button-default create-new">+</button></li>
    </ul>
  </div>
</header>
<app-new-dish></app-new-dish>
