<section class="container flex-column align-items-center">
  <svg class="crown">
    <use href="/assets/ico/crown.svg#icon"></use>
  </svg>
  <ul class="list row-no-wrap selector">
    <li [class.active]="activeTab === 'main'" (click)="activeTab = 'main'"><button>Основні</button></li>
    <li [class.active]="activeTab === 'breakfasts'" (click)="activeTab = 'breakfasts'"><button>Сніданки</button></li>
    <li [class.active]="activeTab === 'deserts'" (click)="activeTab = 'deserts'"><button>Десерти</button></li>
  </ul>
  <div class="swiper-container">
  <swiper [config]="config">
    <ng-template swiperSlide>
      <div class="dish">
        <img src="/assets/image/test.png"/>
        <p class="dish-title">Салат “Овочевий”</p>
        <p class="dish-description">Кращий в світі салат</p>
        <p class="ingredients">Склад: помідори чері, руккола, кукурудза, огірок</p>
        <button class="button-default add">Хочу!</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="dish">
        <img src="/assets/image/test.png"/>
        <p class="dish-title">Салат “Овочевий”</p>
        <p class="dish-description">Кращий в світі салат</p>
        <p class="ingredients">Склад: помідори чері, руккола, кукурудза, огірок</p>
        <button class="button-default add">Хочу!</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="dish">
        <img src="/assets/image/test.png"/>
        <p class="dish-title">Салат “Овочевий”</p>
        <p class="dish-description">Кращий в світі салат</p>
        <p class="ingredients">Склад: помідори чері, руккола, кукурудза, огірок</p>
        <button class="button-default add">Хочу!</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="dish">
        <img src="/assets/image/test.png"/>
        <p class="dish-title">Салат “Овочевий”</p>
        <p class="dish-description">Кращий в світі салат</p>
        <p class="ingredients">Склад: помідори чері, руккола, кукурудза, огірок</p>
        <button class="button-default add">Хочу!</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="dish">
        <img src="/assets/image/test.png"/>
        <p class="dish-title">Салат “Овочевий”</p>
        <p class="dish-description">Кращий в світі салат</p>
        <p class="ingredients">Склад: помідори чері, руккола, кукурудза, огірок</p>
        <button class="button-default add">Хочу!</button>
      </div>
    </ng-template>
  </swiper>
  </div>
</section>
